# Global
*.ico
*.ini
*.vscode
*.Apple*
*.DS_Store
*.clang_complete
*.local.vimrc
*.ycm_extra_conf.py*
Thumbs.db

# File Extensions
/*.ico
/*_fifo
/*.exe
/*.exe.*
/*.ilk
/*.iobj
/*.ipdb
/*.log
/*.ncb
/*.opensdf
/*.opt
/*.pdb
/*.pid
/*.sdf
/*.stackdump
/*.suo
*.o
*.a
*.vcxproj.user
*code-workspace
/char-server
/csv2yaml
/config.log
/config.status
/core
/enc_temp_folder
/ipch
/login-server
/Makefile
/Makefile.cache
/map-server
/map-server-generator
/mapcache
/nbproject
/web-server
/yaml2sql
/yamlupgrade
